---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      
      <!-- Mostrar imagen en miniatura -->
      {% if post.thumbnail %}
        <div class="post-thumbnail">
          <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="{{ post.title }}">
        </div>
      {% endif %}

      <!-- Título del post -->
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <!-- Excerpt (subtítulo) del post -->
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <!-- Enlace de "Leer más" -->
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
